body, h1, h2, h4: {
  background-color: #F00;
  color: #FFF;
}

.cow-tile {
  margin: 1em;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  display: table;
  position: relative;
  height: 200px;
}

.relative-position-box {
  float: left;
  position: relative;
  width: 330px;
  height: 100%;
}

.max-height-box {
  position: absolute;
  /* display: table-row; */
  float: left;
  width: 340px;
  max-height: 200px;
  border-bottom: 1px solid red;
  overflow:hidden;
  bottom: 0;
}

img.cow-img {
  height: 400%;
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+ */
}

.label {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  margin-left: 20px;
}

/* .cow-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
} */
